<mat-card style="background: blue; color: white;">
  <mat-card-header>
    <mat-card-title>{{question.author}} {{'asked' | localize}}: {{question.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{'description' | localize | titlecase}}:
    <p>{{question.description}}</p>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let answer of question.answers; let i = index"
[ngClass]="{'correct-answer': answer.isCorrect}">
  <mat-card-header>
    <mat-card-title>{{answer.author}} {{'wrote' | localize}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{answer.answer}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="isUserOwnsThisQuestion() && !answer.isCorrect"
              (click)="acceptAnswer(i)" >{{'accept' | localize | titlecase}}</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{'newAnswer' | localize | titlecase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="addAnswer(f)"
          #f="ngForm"
          class="form-horizontal">

          <mat-form-field class="input-full-width">
      <textarea matInput
                rows="5"
                id="answer"
                placeholder="{{'answer' | localize | titlecase}}"
                name="answer"
                ngModel required #answer></textarea>
      </mat-form-field>
        <div>
          <button id="btn-add"
                  mat-button
                  type="submit"
                  [disabled]="!f.valid">
            {{'add' | localize | titlecase}}
          </button>
        </div>
    </form>
  </mat-card-content>
</mat-card>
